.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 3rem;
  padding: 1rem auto 1rem;
  /* border: 20px double hotpink; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
