.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.anotherWrapper {
  background-color: #ffffff20;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  text-align: center;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (max-width: 900px) {
  .footer {
    display: none;
  }
}
@media (max-width: 900px) {
  .headerImage {
    display: none;
  }
}
