.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.anotherWrapper {
  background-color: #ffffff20;
  padding: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100px;
}

.footer {
  text-align: center;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (max-width: 900px) {
  .footer {
    display: none;
  }
  .headerImage {
    display: none;
  }
  .header {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    height: fit-content;
  }
}
@media (max-width: 600px) {
  .header {
    grid-template-columns: 1fr;
  }
}
