html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /* background: linear-gradient(
    #ff000050,
    #ffa50050,
    #ffff0050,
    #00ff0050,
    #0000ff50,
    #80080850,
    
  ); */
  background: linear-gradient(#00000070, #ffffff);
  border-top: 50px solid black;
  border-bottom: 50px solid black;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  font-weight: 300;
}

/* a:hover {
  text-decoration: underline;
} */

img {
  max-width: 100%;
  display: block;
}
